<div class="page content-selection" id="page">
    <!-- wrap -->
    <header id="header">
       
    </header>
    
    <!-- about content -->
    <div class="container main ">
    	
    	<!-- selection -->
        <div class="row">
            <div class="col-md-12 jumbotron-small map">
                <span class="hue green">
                    <div class="pads">
                        <h1>Explore The EUscreen Collection on a Map</h1>
                    </div>
                </span>
            </div>
        </div>

        <!-- selection -->
        <div class="content-text row red">
            <div class="col-md-12">
                <h1>EUscreen Content Selection</h1>
                <p>
                    The EUscreen portal provides access to television clips and programmes from broadcasters and broadcast archives from 24 European countries. The EUscreen collection contains nearly 60 000 media items: mostly videos, but it also included photographs, audio files and documents. All items have been hand-picked by experienced archivists and researchers for inclusion in this collection. Click on a country to find out more about the EUscreen collection! 
                </p>
                <p>
                    <a class="box-link" href="http://europeana.eu">Explore Europeana portal</a>
                </p>
            </div>
        </div>
        
        <!-- euscreen content -->
        <div class="content-aggregate row">
        	
        	<!-- left -->
        	<div class="text col-md-5 col-lg-6">
        		
        		<!-- heading -->
        		<div class="heading">
            		<h2>EUScreen Content Aggregation</h2>
            		<p>
            			EUSCREEN CONTENT AGGREGATED FOR EUROPEANA
            		</p>
        		</div>
        		
        		<!-- -->
        		<div class="intro">
        			<p>
        				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
        				aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        			</p>
        			<a class="box-link " href="#">Lorem Ipsum Dolor</a></span>
        		</div>
        	</div>
        	
        	<!-- right -->
        	<div class="graph col-md-7 col-lg-6 hidden-xs">
        		
        		<!-- pie chart-->
        		<span class="chart">
        			
        			<!-- text info -->
            		<span class="total">
            			<small>EUSCREEN TOTAL ITEMS</small>
            			<h1>60238</h1>
            		</span>
            		
            		<!-- text info -->
            		<span class="item document">
            			<a href="#"><h1>231</h1><small>DOCUMENTS</small></a>
            			<span class="line"></span>
            		</span>
            		
            		<!-- audio info -->
            		<span class="item audio">
            			<a href="#"><h1>600</h1><small>AUDIO</small></a>
            			<span class="line"></span>
            		</span>
            		
            		<!-- text info -->
            		<span class="item image">
            			<a href="#"><h1>12000</h1><small>IMAGE</small></a>
            			<span class="line"></span>
            		</span>
            		
            		<!-- audio info -->
            		<span class="item video">
            			<a href="#"><h1>46900</h1><small>VIDEO</small></a>
            			<span class="line"></span>
            		</span>
            		
            		<!-- ingest -->
            		<span class="ingest">
            			<span class="line"></span>
            			<h1>EUROPEANA</h1>
            		</span>
        		</span>
        	</div>
        </div>
        
        <!-- metadata facts -->
        <div class="metadata-facts row">
        	<div class="col-md-12">
        		
        		<!-- heading -->
        		<div class="heading">
            		<h2>Metadata Facts</h2>
            		<p>
            			METADATA FACTS BEHIND EUSCREEN
            		</p>
        		</div>
        		
        		<!-- row -->
        		<div class="custom-row">
        			<div class="custom-col-20">
        				<i class="icono icono-metadata"></i>
        				<p>45 METADATA ELEMENTS</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-ebu"></i>
        				<p>MODELLED ON EBUCORE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-interoperable"></i>
        				<p>HIGHLY INTEROPERABLE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-cc"></i>
        				<p>AVAILABLE FOR REUSE UNDER CC LICENSE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-opendata"></i>
        				<p>PUBLISHED AS LINKED OPEN DATA</p>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
    
    
    <!-- footer -->
    <footer id="footer">
        
    </footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav">
</div>